<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sqlsvr"
			 connectionString="Data Source=ordbdev2019;Initial Catalog=ATROS_CLOUD_DATA;Persist Security Info=True;User ID=sa;Password=orsys"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <appSettings>
      <!--sqlファイルディレクトリ　指定がない場合は、実行ファイル直下にあるファイルを取得-->
      <add key="sqlFileDir" value="C:\source\ExportData\SQLサンプル" />
        <!--デフォルト出力フォルダディレクトリ-->
        <add key="defaultOutPutDir" value="C:\temp\output" />
		<!--文字エンコードタイプ-->
		<add key="encodeIdType" value="SJIS" />
    </appSettings>
</configuration>